<!DOCTYPE html>
<html>
    <head>
    <title>Collaborative Drawing App</title>
    <style>
    #tela{
        border: 1px solid black;
    }
    </style>
    </head>
    <body>
        <canvas id='tela' width="900" height="600">
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let isDrawing = false;
        let x, y = 0;

        let canvas = document.getElementById('tela');
        const ctx = canvas.getContext('2d');


        socket.on('draw line', ({x1, y1, x2, y2})=>{            
            drawLine(ctx, x1, y1, x2, y2);
        })

        socket.on('request current canvas', (callback)=>{               
            callback({imgData: ctx.getImageData(0, 0, canvas.width, canvas.height)});
        })

        
        socket.on('send current canvas content', (data)=>{   
            let imgData = new ImageData(new Uint8ClampedArray(data), canvas.width, canvas.height);

            ctx.putImageData(imgData, 0, 0);
        })

        
        canvas.addEventListener('mousedown', e => {
            x = e.offsetX;
            y = e.offsetY;

            isDrawing = true;
        });

        canvas.addEventListener('mousemove', e => {
            if(isDrawing){
                emitLineCoords(isDrawing, x, y, e.offsetX, e.offsetY);

                x = e.offsetX;
                y = e.offsetY;
            }
        });

        window.addEventListener('mouseup', e => {
            if(isDrawing){
                isDrawing = false;

                emitLineCoords(isDrawing, x, y, e.offsetX, e.offsetY);

                x = 0;
                y = 0;
            }
        });

        function drawLine(context, x1, y1, x2, y2) {
            context.beginPath();
                context.strokeStyle = 'black';
                context.lineWidth = 1;
                context.moveTo(x1, y1);
                context.lineTo(x2, y2);
                context.stroke();
            context.closePath();
        }

        function emitLineCoords(isDrawing, x1, y1, x2, y2){
            let coords = {x1, y1, x2, y2};

            socket.emit('new line', {isDrawing, coords});
        }

    </script>
</html>