
<!DOCTYPE html>
<html>
    <head>
    <title>Collaborative Drawing App</title>
    <style>
    #tela{
        border: 1px solid black;
        cursor: url('/assets/pencil-black.png') 1 22, auto;
    }

    .cursor {
        position: absolute;
        pointer-events: none;
        user-select: none;
    }

    </style>
    </head>
    <body>
        <button onclick="handlePickColor('black')">Black</button>
        <button onclick="handlePickColor('blue')">Blue</button>
        <button onclick="handlePickColor('red')">Red</button>
        <button onclick="handlePickColor('green')">Green</button>
        <button onclick="handlePickColor('pink')">Pink</button>
        <button onclick="handleClearCanvas()">Clear canvas</button>
        <br>

        <canvas id='tela' width="500" height="325">

    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let isDrawing = false;
        let x = 0; 
        let y = 0;
        
        let id;

        let connectedIds = [];

        let canvas = document.getElementById('tela');
        const ctx = canvas.getContext('2d');

        socket.on('draw line', ({x1, y1, x2, y2, color})=>{            
            drawLine(ctx, x1, y1, x2, y2, color);
        })

        
        socket.on('user connected', data => {
            id = data.id;
            connectedIds = data.connectedIds;
            
            connectedIds.forEach(connectedId => {
                if(connectedId !== id){
                    createCursorElement(connectedId);
                }
            });
        
            sendMouseCoords();
        })

        socket.on('new user connected', id => {
            connectedIds.push(id);
            
            createCursorElement(id)
        })

        socket.on('user disconnected', id =>{   
            let index = connectedIds.indexOf(id);
            connectedIds.splice(index, 1); 

            document.getElementById("cursor-" + id).remove();
        })


        socket.on('request current canvas', (callback)=>{               
            callback({imgData: ctx.getImageData(0, 0, canvas.width, canvas.height)});
        })
        socket.on('send current canvas content', (data)=>{   
            let imgData = new ImageData(new Uint8ClampedArray(data), canvas.width, canvas.height);

            ctx.putImageData(imgData, 0, 0);
        })

        socket.on('mouse coords', (data)=>{   
            let cursor = document.getElementById("cursor-" + data.id);

            cursor.style.left = `${data.x}px`;
            cursor.style.top =  `${data.y}px`;
        })

        socket.on('clear canvas', () => clearCanvas());

        /// Canvas drawing
        canvas.addEventListener('mousedown', e => {
            x = e.offsetX;
            y = e.offsetY;

            isDrawing = true;
        });

        canvas.addEventListener('mousemove', e => {
            if(isDrawing){
                emitLineCoords(isDrawing, x, y, e.offsetX, e.offsetY);
            }

            x = e.offsetX;
            y = e.offsetY;
        });

        window.addEventListener('mouseup', e => {
            if(isDrawing){
                isDrawing = false;

                emitLineCoords(isDrawing, x, y, e.offsetX, e.offsetY);
            }
        });


        /// Functions
        function drawLine(context, x1, y1, x2, y2, color) {
            context.beginPath();
                context.strokeStyle = color;
                context.lineWidth = 1;
                context.moveTo(x1, y1);
                context.lineTo(x2, y2);
                context.stroke();
            context.closePath();
        }

        function emitLineCoords(isDrawing, x1, y1, x2, y2){
            let coords = {x1, y1, x2, y2};

            socket.emit('new line', {isDrawing, coords});
        }
        

        function sendMouseCoords() {
            let xOffset = window.pageXOffset + canvas.getBoundingClientRect().left;
            let yOffset = window.pageYOffset + canvas.getBoundingClientRect().top;

            socket.emit('update mouse coords', {
                x: x + xOffset, 
                y: y + yOffset - 21  
            });

            setTimeout(() => sendMouseCoords(), 100);
        }

        function createCursorElement(id){   
            var pencilImg = new Image();
            pencilImg.src = "/assets/pencil.png";

            let cursor = document.createElement('div');
            cursor.id = 'cursor-'+id;
            cursor.className = 'cursor';
            cursor.appendChild(pencilImg);
            
            document.body.appendChild(cursor);
        }

        function handleClearCanvas(){
            clearCanvas();

            socket.emit('clear canvas');
        }
        function clearCanvas(){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function handlePickColor(color){
            changeCursorColor(color);

            socket.emit('pick color', color);
        }

        function changeCursorColor(color){
            document.getElementById("tela").style.cursor = "url('/assets/pencil-"+color+".png') 1 22, auto";
        }

    </script>
</html>